.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    min-height: 300px;
    gap: 10px;

    .review__icon {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        background-color: black;
    }

    .review__text {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;


        h2 {
            font-family: "Forum";
            font-size: 24px;
            font-weight: 300;
        }

        p {
            font-size: 12px;
            line-height: 1rem;
        }
    }
}