.hero__overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgb(170, 151, 132);
    background: linear-gradient(35deg, rgba(0, 0, 0, 0.7) 0%, rgba(246, 244, 241, 0) 100%);
}

.hero {

    &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 705px;
        left: 103px;
        z-index: 11;

        .info__text {


            h1 {
                font-family: 'Forum';
                font-size: 48px;
                margin-bottom: -5px;
                color: white;
            }

            h2 {
                font-family: "Ubuntu";
                font-size: 18px;
                font-weight: 300;
                color: white;
                text-transform: uppercase;
            }
        }

    }
}

.swiper__overlay {
    width: 100%;
    height: 100vh;
    position: absolute;

}

.mySwiper {
    width: 100%;
    height: 100vh;
    z-index: -1;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}