.background {
    background-image: url('../../assets/img/parallax.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.photo-display-container {
    margin-top: 100px;
    margin-bottom: 100px;

}

.photo-display {
    margin-top: 30px;

    h2 {
        color: white;
    }
}

.photo-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.photo-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}