.portfolio__container {
    h1 {
        margin-top: 90px;
        font-family: "Forum";
        font-size: 48px;
        color: white;
        position: absolute;
    }



    .portfolio {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .portfolio__cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 37px;

            .card {
                width: 380px;
                height: 570px;
                background-color: black;
            }
        }
    }
}