.review__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.review__grid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}