.background {
    background-image: url('../../assets/img/parallax.png');
    background-repeat: repeat;
    background-size: cover;
}

.photo-display-container {
    margin-top: 100px;
    margin-bottom: 100px;

}

.photo-display {
    margin-top: 30px;

    h2 {
        color: white;
    }
}

.photo-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.photo-display-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

@media (max-width: 1050px) {
    .photo-display {
        margin-top: 30px;

        h2 {
            color: white;
            text-align: center;
        }
    }

    .photo-display-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
        gap: 30px;
        row-gap: 50px;
    }
}

@media (max-width: 750px) {
    .photo-display {
        margin-top: 30px;

        h2 {
            color: white;
            text-align: center;
        }
    }

    .photo-display-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
        gap: 30px;
        row-gap: 50px;
    }
}