.navbar {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar__menu {
        display: flex;
        gap: 40px;
        text-transform: uppercase;

        .navbar__item {
            font-family: "Forum";
            letter-spacing: 2px;
            background-image: linear-gradient(to right,
                    $brown,
                    $brown 50%,
                    #2d2d2d 50%);
            background-size: 200% 100%;
            background-position: -100%;
            position: relative;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease-in-out;
        }

        .navbar__item:before {
            content: '';
            background: $brown;
            display: block;
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 0;
            height: 1px;
            transition: all 0.3s ease-in-out;
        }

        .navbar__item:hover {
            background-position: 0;
        }

        .navbar__item:hover::before {
            width: 100%;
        }

        .active {
            font-family: "Forum";
            letter-spacing: 2px;
            color: $brown;
            text-align: center;
        }
    }
}

@media (max-width: 1050px) {
    .navbar {
        .navbar__menu {
            display: flex;
            gap: 30px;
            text-transform: uppercase;

            .navbar__item {
                font-size: 14px;
            }
        }
    }
}

@media (max-width:900px) {
    .navbar {
        .navbar__menu {
            display: flex;
            gap: 20px;
            text-transform: uppercase;

            .navbar__item {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 750px) {
    .navbar {
        .navbar__menu {
            display: flex;
            gap: 10px;
            text-transform: uppercase;

            .navbar__item {
                font-size: 10px;
                text-align: center;
            }

            .active {
                font-size: 10px;
            }
        }
    }
}