.photo-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px $creamy;
    transition: 0.3s;
    animation: fadeIn 1s;
    background-color: $creamy;
}

.photo-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.photo-item-info {
    padding: 20px;

}

.photo-item-img-container {
    position: relative;
}

.photo-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.photo-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}

.photo-item-counter img {
    width: 30px;
}

.photo-item-price {
    font-family: 'Forum';
    font-size: 24px;
}