.header {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $creamy;

    &__logo {
        position: absolute;
        left: 100px;
        top: 4px;
    }

    .menu__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 36px
    }

    .menu__item {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 300;
        background-image: linear-gradient(to right,
                $brown,
                $brown 50%,
                #2d2d2d 50%);
        background-size: 200% 100%;
        background-position: -100%;

        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .active {
        color: $brown;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .menu__item:before {
        content: '';
        background: $brown;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        transition: all 0.3s ease-in-out;
    }

    .menu__item:hover {
        background-position: 0;
    }

    .menu__item:hover::before {
        width: 100%;
    }

    .social__list {
        right: 0;
        top: 14px;
        margin-right: 100px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .enter__button {
        position: absolute;
        right: 100px;
        padding: 0px 20px;
        color: #2d2d2d;
        font-size: 12px;
        font-family: 'Ubuntu';
        letter-spacing: 2px;
        border-radius: 50px;
        cursor: pointer;
        width: fit-content;
        height: 30px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        border: 1px solid $brown;
        background-color: $creamy;
    }

    .enter__button:hover {
        background-color: rgba($brown, 0.6);
        color: $creamy;
    }

    .dot {
        position: absolute;
        min-width: 10px;
        min-height: 10px;
        background-color: tomato;
        border-radius: 5px;
        top: -8px;
        right: -8px;
    }
}

.navbar-profile {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;

}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $creamy;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid $brown;
    outline: 2px solid $creamy;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown p:hover {
    color: $brown;
}

@media (max-width: 1050px) {
    .header__logo img {
        width: 180px;
    }

    .header__menu .menu__list {
        gap: 20px;
    }

    .header__menu .menu__list .enter__button {
        padding: 10px;
        font-size: 10px;
    }
}

@media (max-width:900px) {
    .header__logo img {
        width: 160px;
    }

    .header__menu .menu__list {
        gap: 15px;
    }

    .header__menu .menu__list .enter__button {
        padding: 10px;
        font-size: 10px;
    }
}

@media (max-width: 750px) {
    .header__menu .menu__list {
        display: none;
    }
}