@import './variables';
@import './libs/normalize';

@import './components/all';

body {
    background-color: $creamy;
}

[class*="__container"] {
    max-width: 1215px;
    margin: 0px auto;
    padding: 0px 15px;
    /*отступы безопасности*/
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}