@import './variables';
@import './libs/normalize';

@import './components/all';

body {
    background-color: $background;
}

[class*="__container"] {
    max-width: 1215px;
    margin: 0px auto;
    padding: 0px 15px;
    /*отступы безопасности*/
}



.auth__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }

    .auth__card {
        border: 1px solid black;
        width: 600px;
        height: 600px;
    }
}